/* ---------- General ---------- */
@font-face
{
    font-family: "Mathilga";
    src: url("./fonts/Mathilga.otf") format("opentype");
}

:root
{
    --background-color: #141414;
    --text-color: #fff;
    --display-title-font: "Mathilga";
    --subtitle-font: 'Playfair Display', serif;
    --font: sans-serif;
}

html
{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    font-family: var(--font);
    background: var(--background-color);
}

section
{
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

h1,
h2
{
    font-family: var(--display-title-font);
    font-weight: 500;
    text-align: center;
    margin: 0;
}

h2
{
    font-size: 3.625rem;
    line-height: 4.8rem;
    background: url(./img/holo-2.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h3
{
    font-family: var(--subtitle-font);
    font-size: 2.5rem;
    line-height: 3.5rem;
    background: url(./img/holo-2.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0 0 30px;
}

h4
{
    font-family: var(--subtitle-font);
    font-size: 1.45rem;
    line-height: 1.85rem;
    font-weight: 500;
    background: url(./img/holo-2.jpg) bottom;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
}

p
{
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--text-color);
    margin: 0;
}

a
{
    position: relative;
    color: var(--text-color);
}

a:not(#projects-section a, a.holo-btn)::after
{
    position: absolute;
    content: "→";
    font-weight: 700;
    top: calc(50% - 10px); /* 50% - The middle of the arrow's height */
    right: -26px;
    height: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.4s;
}

a:not(#projects-section a, a.holo-btn):hover::after
{
    right: -32px;
}

/* ---------- Blob Section ---------- */
#blob-section
{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 0;
    pointer-events: none; /* Make this section less disturbing for the carousel's scrollbar */
}

/* ---------- Landing section ---------- */
#landing-section
{
    height: 100vh;
    position: relative;
}

#landing-section h1,
#landing-section h2
{
    display: block;
    overflow: hidden; /* To make the span invisible at the beginning of the animation */
}

#landing-section h1 span,
#landing-section h2 span
{
    display: inline-block;
    font-size: 6rem;
    line-height: 7.5rem;
    transform: translateY(100%); /* Makes spans invisible at the beginning of the animation */
    animation: spanFadeIn 1000ms ease forwards;
    background: url(./img/holo-2.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#landing-section h2 span
{
    animation-delay: 500ms;
}

@keyframes spanFadeIn
{
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(0%);
    }
}

#top-left-blob,
#bottom-right-blob
{
    position: absolute;
    filter: blur(3px);
}

#top-left-blob
{
    height: 400px;
    width: 400px;
    top: 10px;
    left: 20px;
    animation: left-blob-move 100s infinite linear;
}

@keyframes left-blob-move
{
    0%
    {
        transform: translateX(-100px) translateY(-20vh) rotate(0deg);
    }
    100%
    {
        transform: translateX(100vw) translateY(30vh) rotate(360deg);
    }
}

/* #landing-section #bottom-right-blob */
#bottom-right-blob
{
    height: 300px;
    width: 300px;
    bottom: 8vh;
    right: 20px;
    animation: right-blob-move 100s infinite linear;
}

@keyframes right-blob-move
{
    0%
    {
        transform: translateX(10vw) translateY(-13vh) rotate(0deg);
    }
    100%
    {
        transform: translateX(-100vw) translateY(7vh) rotate(360deg);
    }
}

/* Sticky title */
#sticky-title-bg
{
    background: linear-gradient(270deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(270deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0) 100%);
    position: sticky;
    top: 0;
    padding-top: 10px;
    margin-top: -8vh; /* To make it visible from #landing-section and letting 100vh height for the section, also keeping it's 12vh height for gradient  */
    height: 12vh;
    z-index: 5;
}

h2#sticky-title
{
    animation: sticky-title-from-bottom-appearing 1500ms ease-in;
    z-index: 2;
}

@keyframes sticky-title-from-bottom-appearing
{
    0%
    {
        opacity: 0;
        transform: translateY(150%);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* ---------- Presentation section ---------- */
#presentation-section
{
    position: relative;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#presentation-section .flex-two-cols
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#presentation-section .card-bg
{
    position: relative;
    background: url(./img/holo-1.jpg) no-repeat;
    background-size: 100%;
    height: 300px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#presentation-section .card-bg .overlay
{
    position: absolute;
    min-height: calc(100% - 70px); /* 30px padding for each side and 5px border for each side */
    width: calc(100% - 70px);
    padding: 30px;
    background: var(--background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#presentation-section .card-bg .overlay h3
{
    position: relative;
}

#presentation-section .card-bg .overlay h3::after
{
    position: absolute;
    content: "";
    height: 1px;
    width: 30%;
    left: calc(50% - 15%);
    bottom: -10px;
    background: url(./img/holo-2.jpg) repeat;
}

#presentation-section p.important-text
{
    position: absolute;
    bottom: 2vh;
    font-family: var(--display-title-font);
    font-size: 2rem;
    line-height: 2.5rem;
    color: #fff;
    min-width: 100%;
    text-align: center;
    z-index: 1;
}

#presentation-section p.important-text span
{
    letter-spacing: 0.5px;
    filter: blur(1.3px);
}

/* ---------- White Transition gradient ---------- */
#white-transition-gradient
{
    position: relative;
    background: linear-gradient(90deg,rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg,rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    height: 100vh;
    width: 100%;
    z-index: -1;
}

/* ---------- More infos section ---------- */
body #more-infos-section
{
    position: static;
    background: url(./img/holo-3.png) no-repeat #fff;
    background-size: cover;
    background-position: center;
    z-index: 4;
}

#more-infos-section #glass-card
{
    opacity: 0;
    width: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    color: transparent;
    height: 70%;
    background: rgb(255 255 255 / 50%);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 4;
    transition: all ease 1s;
}

body #more-infos-section h3,
body #more-infos-section p
{
    opacity: 0;
}

body #more-infos-section h3,
body #more-infos-section p:not(:last-child)
{
    margin-bottom: 30px;
}

body #more-infos-section #glass-card.glass-card-animations
{
    opacity: 1;
    width: 80%;
    padding: 30px;
    border: 1px solid #fff;
    box-shadow: 0 0 30px 5px rgb(0 0 0 / 10%);
}

body #more-infos-section #glass-card.glass-card-animations h3,
body #more-infos-section #glass-card.glass-card-animations p
{
    transition: all ease 1s;
    transition-delay: 1s;
    opacity: 1;
}

body #more-infos-section #glass-card.glass-card-animations p
{
    color: var(--background-color);
}

/* ---------- Projects Section ---------- */
#projects-section
{
    position: static;
    background: url(./img/holo-3-reverse.png) no-repeat #fff;
    background-size: cover;
    background-position: center;
}

#projects-section .tactile-display
{
    display: none;
}

#projects-section .flex-container
{
    height: calc(85vh - 30px);
    width: 100%;
}

#projects-section .flex-slider
{
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Make scroll-snap work on iOS */
}

#projects-section .flex-slider > .mockup-container
{
    overflow: visible; /* Important to make the effect work on iOS */
    scroll-snap-align: center;
    flex-shrink: 0;
}

#projects-section .mockup-container
{
    width: 100%;
    perspective: 1500px;
}

#projects-section .card
{
    position: relative;
    transition: transform 1.3s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-section .mockup-container:hover > .card
{
    transform: rotateY(180deg);
}

#projects-section .front-face
{
    position: relative;
    width: fit-content;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

#projects-section .front-face img
{
    max-height: 569px;
    max-width: 100%;
}

#projects-section .card-bg
{   
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects-section .card-bg.desktop
{
    background: url(./img/mockups/desktop-mockup-bg.png) no-repeat center;
    background-size: contain;
}

#projects-section .card-bg.mobile
{
    width: 268px; /* Prevent text overflowing from mobile shape */
    left: calc(50% - 134px);
    background: url(./img/mockups/mobile-mockup-bg.png) no-repeat center;
    background-size: contain;
}

#projects-section .card-bg h4
{
    font-size: calc(1rem + 2vw);
    line-height: calc(2.5rem + 2vw);
    font-weight: 700;
    margin-bottom: 30px;
}

#projects-section .card-bg.mobile h4
{
    max-width: 90%;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

#projects-section .card-bg.mobile h4 + p
{
    font-size: 1rem;
}

/* ---------- White Transition gradient ---------- */
#black-transition-gradient
{
    position: relative;
    background: linear-gradient(270deg,rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(270deg,rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    height: 100vh;
    width: 100%;
    z-index: -1;
}

/* ---------- Contact section ---------- */
body #contact-section
{
    position: static;
    background: var(--background-color);
}

body #contact-section .flex-container
{
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#contact-section p.important-text
{
    position: absolute;
    top: -20vh;
    min-width: 300px;
    left: calc(50% - 150px);
    text-align: center;
}

#contact-section p.important-text::after
{
    opacity: 0;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--subtitle-font);
    font-size: 2rem;
    color: #fff;
    width: 100%;
    animation: changingText 10s linear infinite alternate;
    -webkit-animation: changingText 10s linear infinite alternate;
}

body #contact-section .holo-btn
{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all ease-in 0.4s;
}

body #contact-section .flex-container:hover > .holo-btn /* Hovering the parent lowers the items opacity */
{
    opacity: 0.25;
}

body #contact-section .flex-container:hover > .holo-btn:hover /* Doesn't changes opacity of hovered item */
{
    opacity: 1;
    transform: scale(1.2);
}

body #contact-section .holo-btn i
{
    background: url(./img/holo-4.jpg) no-repeat center;
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6rem;
    line-height: 6rem;
    margin-bottom: 10px;
}


/* ---------- RESPONSIVE ---------- */
/* Tablets */
@media (max-width: 1050px)
{
    /* Presentation Section */
    #presentation-section .flex-two-cols
    {
        flex-direction: column;
    }

    #presentation-section .card-bg
    {
        width: 90%;
    }
}

/* Tablets */
@media (max-width: 768px)
{
    /* Projects Section */
    #projects-section .tactile-display
    {
        position: relative;
        display: inline-block;
        top: 7vh;
        font-size: 1.3rem;
        line-height: 1.8rem;
        color: #fff;
        text-align: center;
        z-index: 1;
    }
}

/* Phones */
@media (max-width: 600px)
{
    /* Global */
    body p
    {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }

    h2
    {
        font-size: 2.5rem;
        line-height: 4rem;
    }

    h3
    {
        font-size: 2rem;
        line-height: 3rem;
    }

    /* Blob Section */
    #top-left-blob
    {
        height: 250px;
        width: 250px;
    }

    #bottom-right-blob
    {
        height: 200px;
        width: 200px;
    }

    @keyframes blob-left-move
    {
        0%
        {
            transform: translateX(0px) translateY(-20vh) rotate(0deg);
        }

        100%
        {
            transform: translateX(100vw) translateY(30vh) rotate(360deg);
        }
    }

    /* Landing Section */
    #landing-section h1 span,
    #landing-section h2 span
    {
        font-size: 2.5rem;
        line-height: 3rem;
        transform: translateY(300%);
    }

    /* Presentation Section */
    #presentation-section .flex-two-cols,
    p.important-text
    {
        margin: 0;
    }

    #presentation-section .card-bg
    {
        height: 245px;
    }

    #presentation-section .card-bg.left
    {
        margin-bottom: 30px;
    }

    #presentation-section .card-bg .overlay
    {
        min-height: calc(100% - 45px);
        width: calc(100% - 45px);
        padding: 15px;
    }

    #presentation-section p.important-text
    {
        position: absolute;
        bottom: 0;
        font-size: 1.05rem;
        line-height: 1.5rem;
    }

    /* More Infos Section */
    #more-infos-section #glass-card
    {
        width: 85%;
        height: unset;
        padding: 15px;
    }

    #more-infos-section #glass-card h3,
    body #more-infos-section p:not(:last-child)
    {
        margin-bottom: 17px;
    }

    /* Projects Section */
    #projects-section .flex-container
    {
        padding-top: 10vh;
    }

    #projects-section .tactile-display
    {
        top: 10vh;
    }

    #projects-section .card-bg h4
    {
        margin-bottom: 15px;
    }

    /* Contact Section */
    body #contact-section .flex-container
    {
        z-index: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        padding: 25vh 0 30px;
    }

    #contact-section p.important-text
    {
        top: 20vh;
    }

    body #contact-section .holo-btn
    {
        height: auto;
        width: 50%;
    }

    body #contact-section .holo-btn i
    {
        font-size: 4rem;
        line-height: 4rem;
    }
}

/* ---------- Keyframes ---------- */
@keyframes from-bottom-appearing
{
    0%
    {
        transform: translateY(100%);
    }

    100%
    {
        transform: translateY(0%);
    }
}

@keyframes from-left-appearing
{
    0%
    {
        left: -100%;
    }

    100%
    {
        left: 0;
    }
}

@keyframes from-right-appearing
{
    0%
    {
        right: -100%;
    }

    100%
    {
        right: 0%;
    }
}

@keyframes changingText
{
    0%
    {
      content: 'Contact me';
      opacity: 1;
    }

    25%
    {
      opacity: 0;
    }

    50%
    {
      content: 'Contácteme';
      opacity: 1;
    }

    75%
    {
      opacity: 0;
    }

    100%
    {
      content: 'Contactez-moi';
      opacity: 1;
    }
}